@use '../base/mixins' as m;
.ReactModalPortal {
  
  > div{
    opacity: 0;
  }
  .ReactModal__Overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    transition: opacity .3s ease-in-out;
    z-index: 999;

    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
  .modal__project {
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    @include m.mp {
      align-items: center;
    }
  }
}
