/* FIELD, LABEL AND SPAN */
.form {
  &__group {
    &:focus-within {
      .form__label {
        font-size: .75rem;
        top: -30%;
        transform: translateY(0);
        color: #5FA7F0;
      }
    }
  }
  &__input {
    &:not(:placeholder-shown) {
      ~ .form__label {
        font-size: .75rem;
        top: -30%;
        transform: translateY(0);
        color: #5FA7F0;
      }
    }
  }
}

.image {
  &__gradient {

    &-login {
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%), url('/assets/hero-login.jpg') no-repeat top center;
      background-size: cover;
    }
    &-register {
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url(/assets/hero-register.jpg) no-repeat center bottom;
      background-size: cover;
    }
    &-forgot {
      background-image: url(/assets/hero-forgot.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-confirm {
      background-image: url(/assets/hero-confirm.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}