.textarea {
  &:focus-within {
    .textarea__label {
      font-size: .75rem;
      top: -10%;
      color: #5FA7F0;
    }
  }
  &__input {
    &:not(:placeholder-shown) {
      ~ .textarea__label {
        font-size: .75rem;
        top: -10%;
        color: #5FA7F0;
      }
    }
  }
}

.inputs {
  &:focus-within {
    .inputs__label {
      font-size: .75rem;
      top: -30%;
      transform: translateY(0);
      color: #5FA7F0;
    }
  }
  &-error {
    &:focus-within {
      .inputs__label {
        color: rgb(248 113 113);
      }
    }
  }
  &__input {
    &:not(:placeholder-shown) {
      ~ .inputs__label {
        font-size: .75rem;
        top: -30%;
        transform: translateY(0);
        color: #5FA7F0;
      }
    }
    &-error {
      &:not(:placeholder-shown) {
        ~ .inputs__label {
          color: rgb(248 113 113);
        }
      }
    }
  }
}

.scrollbar {

  &::-webkit-scrollbar {
    width: .8rem;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #0e1520;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #132F4C;
    border-radius: 1rem;
  }
}

.scrollbarX {

  &::-webkit-scrollbar {
    height: .9rem;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #0e1520;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #132F4C;
    border-radius: 1rem;
  }
}

.webkitBox {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;

  &__2 {
    -webkit-line-clamp: 2;
  }
  &__3 {
    -webkit-line-clamp: 3;
  }
}